body, html {
background-color: bisque;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    width: 800px; 
    height: 600px; 
}

.btn-primary{
    background-color: rgb(110, 36, 36);
    border-color: rgb(110, 36, 36);;
}

.btn-primary:hover{
    color: black;
    background-color: rgb(196, 235, 124);
    border-color: black
}

.text-align-center{
    text-align: center;
}

.text-align-end{
    text-align: end;
}

p{
    font-style: italic;
}

.margin-x{
    margin-left: 100px;
}

.container-fluid{
    z-index: -1;
}

.name{
    margin-top: -8%;
    margin-bottom: 5%;
}

.fa{
    width: 90px;
    color: rgb(110, 36, 36);;
}

.description{
    margin-bottom: 70px
}